* {
	margin: 0;
	padding: 0;
	}
body{background:#FFF056
;}
#big_wrapper {
  text-align: center;
}
.container{
  padding: 90px; }
  p {
    font-size: 25px;
  }


#menu_header li{float:right;
       padding: 15px;
       list-style:none; 
}
#Main{ 
       color:black;
       padding-top:250px;
}
.blue-text{font-family: times;
           color:blue;
           font-size: 25px;
           text-align: left
}





#left_side{
  float:left;
}

#right_side{
  float:right;
}
#session_length{
  max-width: 100%;
}

span{
  font-size:25px;
}

.clock{
  font-size:50px; 
}
.btn-warning{
  background-color:yellow; 
}

.btn-default{
  background-color: #DFE2DB;
}